version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5433:5432"  # <--- CHANGED THIS
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: order_engine
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: